.productos ul{
    list-style: none;
    margin:5%;
    padding-left: 0%;
    column-gap: 5%; 
    padding-right:  5%;

    li{
        background-color: rgba(255, 244, 226, 0.479);
        border-radius: 30px;
        border: 2px solid rgba(0, 0, 0, 0.63);
        width: 95%;
        height: 95%;
        margin: 5%;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);

        img{
            border-radius: 50px;
            object-fit: contain;
            width: 95%;
            margin:10%;
            border: 2px solid rgba(39, 37, 37, 0.26);            
        }

        p{
            border-radius: 30px;
            padding: 2%;
            @include size-h-w(100%,30%);
            text-align: center;
            margin-bottom: 3rem;
        }
    }
}
a img{
    border-radius: 0px;;
}