.descarga-card {
    background-color: rgba(255, 226, 188, 0.479);
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.63);
    padding: 3%;
    justify-content: center;
    align-items: center;

    
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);

    p {
        text-align: center;
        font-size: 140%;
    }

    a {
        background-color: rgba(240, 235, 193, 0.925);
        border: 2px solid rgba(0, 0, 0, 0.63);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5%;
    }

    transition: transform 0.3s ease;
}

.descarga-card:hover{
    transform: scale(1.03);
}