footer {
    height: 80px;
    @extend %flex-align-center;
    background-image: $bg-cortina;
    
    .button-footer {
        @include size-h-w(60px,60px);
        object-fit: contain;
        margin-left: 3%;
        border-radius: 20px;
        border: 2px solid rgb(58, 42, 30);
    }

    .button-footer img {
        @include size-h-w(80%,80%);

    }
}
