header {
    background-image: $bg-cortina;

    .img-logo {
        @extend %flex-align-center;
        max-width: 200px;
        margin-top: 5%;

        img {
            min-width: 70px;
            max-width: 90px;
        }

        .texto-limitado {
            max-width: 100%;
            margin: 0 auto;
        }

        h1 {
            font-family: 'Space Grotesk', sans-serif;
            font-size: 110%;
            color: aliceblue;
            letter-spacing: 2px;
            text-shadow: 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000;
            text-wrap: balance;
            max-width: 80vw;
        }
    }
    div {
        div {
            .navbar-nav {
                margin-top: 1rem;

                .nav-item {
                    border: 2px solid black;
                    border-radius: 10px;
                    height: 2rem;
                    margin: 0.2rem;
                    @extend %flex-align-center;
                    justify-items: center;
                    padding: 1rem 0.5rem;
                    
                    transition: transform 0.3s ease;

                    .nav-link {
                        text-align: center;
                        width: 100%;
                    }
                }                
                .nav-item:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    .barra-cortina-metal { 
        @include size-h-w(100%,1.2rem) ;
    }
}
.menu-hamburguesa{
    background-image: url(../img/menu-hamburgesa.svg);
    @include size-h-w(40px,40px) ;

}
.navbar-toggler {
    border-radius: 30px;
    
    @include size-h-w(60px,60px) ;

    padding: 5px;
    border: 2px solid rgb(58, 42, 30);
    margin-top: 1.5rem;
    margin-right: .5rem;
    margin-left: 1.5rem;
}.navbar-toggler:focus {
    box-shadow:none;
}
.navbar>.container-fluid {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 0.2rem;
}
