footer, header div div .navbar-nav .nav-item, header .img-logo {
  display: flex;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./../img/exhibidor-herramientas-background.avif);
  background-size: cover;
}

.bg-madera {
  background-image: url(./../img/background-madera.png);
}

em {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
}

p {
  padding: 0.1rem 5%;
  font-size: 100%;
}

.text-center {
  text-align: center;
}

main {
  background-color: rgba(241, 202, 139, 0.897);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 20px;
}

h2 {
  text-align: center;
  margin-top: 3%;
  font-size: 200%;
}

/* Segmentos de imagen + texto ===============================*/
.formato-imagen {
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.img-sin-redondeo {
  border-radius: 0px;
}

.flex {
  display: flex;
}

.division-row {
  flex-direction: column;
  padding: 3%;
}

.division-col {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-jc {
  justify-content: center;
  align-items: center;
}

.gap-10 {
  gap: 2rem;
}

header {
  background-image: url(./../img/background-cortina.webp);
}
header .img-logo {
  max-width: 200px;
  margin-top: 5%;
}
header .img-logo img {
  min-width: 70px;
  max-width: 90px;
}
header .img-logo .texto-limitado {
  max-width: 100%;
  margin: 0 auto;
}
header .img-logo h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 110%;
  color: aliceblue;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000;
  text-wrap: balance;
  max-width: 80vw;
}
header div div .navbar-nav {
  margin-top: 1rem;
}
header div div .navbar-nav .nav-item {
  border: 2px solid black;
  border-radius: 10px;
  height: 2rem;
  margin: 0.2rem;
  justify-items: center;
  padding: 1rem 0.5rem;
  transition: transform 0.3s ease;
}
header div div .navbar-nav .nav-item .nav-link {
  text-align: center;
  width: 100%;
}
header div div .navbar-nav .nav-item:hover {
  transform: scale(1.1);
}
header .barra-cortina-metal {
  width: 100%;
  height: 1.2rem;
}

.menu-hamburguesa {
  background-image: url(../img/menu-hamburgesa.svg);
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 5px;
  border: 2px solid rgb(58, 42, 30);
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 1.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar > .container-fluid {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 0.2rem;
}

.productos ul {
  list-style: none;
  margin: 5%;
  padding-left: 0%;
  column-gap: 5%;
  padding-right: 5%;
}
.productos ul li {
  background-color: rgba(255, 244, 226, 0.479);
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.63);
  width: 95%;
  height: 95%;
  margin: 5%;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
.productos ul li img {
  border-radius: 50px;
  object-fit: contain;
  width: 95%;
  margin: 10%;
  border: 2px solid rgba(39, 37, 37, 0.26);
}
.productos ul li p {
  border-radius: 30px;
  padding: 2%;
  width: 100%;
  height: 30%;
  text-align: center;
  margin-bottom: 3rem;
}

a img {
  border-radius: 0px;
}

.descarga-card {
  background-color: rgba(255, 226, 188, 0.479);
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.63);
  padding: 3%;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease;
}
.descarga-card p {
  text-align: center;
  font-size: 140%;
}
.descarga-card a {
  background-color: rgba(240, 235, 193, 0.925);
  border: 2px solid rgba(0, 0, 0, 0.63);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
}

.descarga-card:hover {
  transform: scale(1.03);
}

.mapa {
  height: 150%;
  transition: transform 0.3s ease;
}

.mapa:hover {
  transform: scale(1.03);
}

.form-label {
  width: 100%;
  position: relative;
}
.form-label input {
  width: 100%;
}
.form-label label {
  width: 100%;
  text-align: center;
}

.button-enviar {
  box-sizing: content-box;
  border: 1px solid rgb(58, 42, 30);
  background-color: rgba(240, 235, 193, 0.925);
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.button-enviar:hover {
  transform: scale(1.03);
}

footer {
  height: 80px;
  background-image: url(./../img/background-cortina.webp);
}
footer .button-footer {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-left: 3%;
  border-radius: 20px;
  border: 2px solid rgb(58, 42, 30);
}
footer .button-footer img {
  width: 80%;
  height: 80%;
}

@media screen and (min-width: 767px) {
  .division-col {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .division-col img {
    max-width: 50%;
  }
  .contenedor-grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .form-label {
    left: -50px;
  }
  .form-label input {
    width: 150%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor-grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
  }
  .division-col img {
    max-width: 50%;
    border-radius: 10px;
  }
  .navbar-nav {
    margin-top: 1.5rem;
  }
  .mapa {
    height: 240px;
  }
}
@media screen and (min-width: 1440px) {
  .mapa {
    height: 350px;
  }
}

/*# sourceMappingURL=main.css.map */
